<form>
    <label for="email">E-mail:</label>
    <input type="text" name="email" id="email" [(ngModel)]="email" placeholder="e-mail ..." required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="password ..." required />
</form>
<button (click)="processLogin(email,password);" id='btn-login'>Login</button>
<button (click)="sessionCheck();" id='btn-check'>Check</button>
<button (click)="processUserAction();" id='btn-userAction'>UserAction</button>
<button (click)="processLogout();" id='btn-logout'>Logout</button>
<p></p>
<strong><span id="responseJSON">{{responseJSON}}</span></strong>